.book-form-container {
  background-color: rgba(252, 189, 88, .7);
  border: 2px solid #221f0f;
  display: flex;
  justify-content: center;
}

.book-form {
  background-color: rgba(252, 189, 88, .7);
  border: 2px dotted #221f0f;
  display: flex;
  flex-direction: column;
  margin: 40px;
  position: relative;
}

.inputs {
  margin: 20px 60px;
}

.input {
  margin: 20px;
}

.input label {
  display: block;
}

.submit-btn {
  background-color: rgba(252, 189, 88, .7);
  border-color: transparent;
  border-top: 2px dotted #221f0f;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
}